<div class="chat">
  <div class="bookingAndChat">

    <div>
      <div class="bookings">
        <div class="bookingBox" *ngFor="let booking of bookingList index as i">
          {{booking.userId}}
        </div>
      </div>
    </div>

    <div class="messages" #scroll>
      <div class="messageBox" *ngFor="let message of messageList index as i">
        <div class="messageBoxUserPicture">
          <svg xmlns="http://www.w3.org/2000/svg" width="max-content" height="max-content" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" style="margin-top: 0">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
          </svg>
        </div>
        <div class="messageBoxMessage">
          <div>
            <b>{{userMap.get(message.userId)}}</b> | {{getTime(message.timeMessage)}} Uhr
          </div>
          <hr style="margin-top: 0; margin-bottom: 1%">
          {{message.messageText}}
        </div>
      </div>
    </div>

  </div>


  <div class="messageBoxInput" *ngIf="ownUserId >= 0">
    <div style="width: 100%; margin: 1%">
      <input style="width: 100%; margin: auto; height: 100%;" type="text" id="message-input" placeholder="Schreibe eine Nachricht" [(ngModel)]="newMessage" (keyup.enter) = "sendMessage()">
    </div>
    <div style="width: 5%; text-align: center; margin:1%;">
      <svg (click)="sendMessage()" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-send-fill sendButton" viewBox="0 0 16 16" style="align-self: center">
        <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z"/>
      </svg>
    </div>
  </div>

</div>

