<div class="container-fluid p-5">
  <div class="row row-cols-3">
    <div id="UserOverview" class="col"></div>
    <div id="OfferCard" class="col"></div>
    <div id="VehicleSelection" class="col container borderPrimary g-0">
      <div id="VehicleSelectionHeader" class="col container-fluid">
        <div class="row-cols-1">
          <div class="col">
            <h3>Welches Fahrzeug</h3>
          </div>
        </div>
        <div class="row-cols-1">
          <div class="col">
            <h3>wirst du benutzen?</h3>
          </div>
        </div>
      </div>
      <div id="VehicleSelectionBody" class="col container g-0">
        <div class="row VehicleSelectionOption FormInputLight my-2 mx-3 p-3">
          <div class="col-1">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="">
            </div>
          </div>
          <div class="col g-0 m-0" style="width: 100%">
            <div class="row g-0">
              <div class="col FormInputLight">
                <p class="p-2 m-0">Transporter mit x Volumen</p>
              </div>
            </div>
            <div class="row g-0">
                <div class="col FormInputLight">
                  <p class="p-2 m-0">Transporter</p>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="FormInputLight p-0 container overflow-hidden">
              <img src="assets/PictureVehicle/Transporter1.jpg" alt="Bild der Fahrzeugoption" class="cropped-img" style="display: flex; justify-content: center; align-self: center">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
