#VehicleSelectionHeader {
  border-bottom: 1px solid var(--primary);
  border-radius: 5px 5px 0 0;
  background-color: var(--primary);
  color: var(--light);
}

#VehicleSelection {
  height: 100%;
}

.VehicleSelectionOption p {
}

.cropped-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: 25% 25%;
}

.PriceInput {
  background-color: transparent;
  border: none;
  color: var(--primary);
  -moz-appearance: textfield;
}
