<p>register works!</p>
<div>
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
    <div>
      <input class="form-control username-input" type="text" name="username" placeholder="Username" ngModel>
    </div>
    <div>
      <input class="form-control password-input" type="password" name="password" placeholder="Password" ngModel>
    </div>
    <div>
      <input type="submit" value="Register">
    </div>
  </form>
  <div *ngIf="passwordIsWeak">
    <div class="alert alert-danger alert-dismissible" role="alert">
      <div>Your password is too weak.</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  <div *ngIf="passwordFeedback">
    <div class="alert alert-info alert-dismissible" role="alert">
      <div>{{ zxcvbnFeedback }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
</div>
