<div class="row m-0 justify-content-center active-recomended" *ngIf="loaded">
  <div class="card m-3" style="width: 20rem;" [routerLink]="['/ad', content.adId]">
    <img src="https://placehold.jp/380x210.png" class="card-img-top p-3" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{writeTitle(content)}}</h5>
      <p class="card-text">{{content.description}}</p>
    </div>
  </div>
</div>
<div class="row m-0 justify-content-center active-recomended" *ngIf="!loaded">
  <div class="card m-3" style="width: 20rem;" aria-hidden="true">
    <img src="https://placehold.jp/380x210.png" class="card-img-top p-3" alt="...">
    <div class="card-body">
      <h5 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h5>
      <p class="card-text placeholder-glow">
        <span class="placeholder col-7"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-6"></span>
        <span class="placeholder col-8"></span>
      </p>
    </div>
  </div>
</div>