<div class="col align-left">
  <button type="button" class=" btn returnButton" (click)="navigateToHome()">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="var(--primary)" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
      <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
    </svg>
  </button>
</div>
<app-searchbar></app-searchbar>
<div class="container">
  <div class="row">
    <div *ngFor="let a of ads" class="col-md-4">
      <app-ad-card [ad]="a"></app-ad-card>
    </div>
  </div>
</div>


