#SearchFormSection{
    border: 2px solid var(--secondary);
    background-color: white;
    border-radius: 10px;
    max-width: 55rem;
}
.SearchFormInput {
    border: 2px solid var(--primary);  
    background-color: white;
    border-radius: 1px;
    height: 2.5rem;
    min-height: fit-content;
}
#SearchFormButton {
  border: 1px solid var(--secondary);
  border-radius: 5px;
  background-color: var(--secondary);
  color: var(--light);
  font-weight: bolder;
}

#carouselExampleControls.card {
  background-color: var(--secondary_light);
}

#RecomendedOffers {
    max-width: 100%;
}

.btn{
    background-color: var(--secondary);
    color: white;
    width: 30px;
    height: 74px;
    padding: 0px;
}

.btn-text{
    font-weight:900;
    text-align: center;
}

.active-recomended{
    text-align: center;
}

.card{
    background-color: rgba(29,143,131, 0.34);
    cursor:pointer;
}

.card-title{
    background-color: white;
    border-radius: 5px;
    height: 50px;
  }
  
  .card-text{
    background-color: white;
    border-radius: 5px;
    height: 100px;
    text-align: left;
    padding: 5px;
    overflow: hidden;
  }

.card-img-top{
    max-width: 100%;
    border-radius: 5px;
}

.passengers-input{
    background: url("../../../assets/icons/people-fill.svg") no-repeat;
    background-size: 15%;
    background-position: 5px;
    padding-left: 2rem;
}

.rating-input{
    background: url("../../../assets/icons/star-fill.svg") no-repeat;
    background-size: 15%;
    background-position: 5px;
    padding-left: 2rem;
}