<div id="SearchFormSection" class="container p-3 my-5">
  <form id="SearchForm">
    <div class="row p-3">
      <div class="col">
        <div class="row p-2">
          <input class="SearchFormInput" type="text" placeholder="Von...">
        </div>
        <div class="row p-2">
          <div class="col ps-0 pe-2">
            <input class="SearchFormInput w-100" type="date">
          </div>
          <div class="col ps-2 pe-0">
            <input class="SearchFormInput w-100" type="text" placeholder="Fracht in kg?m^3?">
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row p-2">
          <input class="SearchFormInput" type="text" placeholder="Nach...">
        </div>
        <div class="row p-2">
          <div class="col ps-0 pe-2">
            <!--
            <i><span class="material-symbols-outlined">person_add</span></i>
            -->
            <input class="SearchFormInput w-100" type="number">
          </div>
          <div class="col ps-2 pe-0">
            <select class="SearchFormInput w-100 h-100" name="rating" required>
              <option name="" disabled selected hidden>Bewertung</option>
              <option name="one">
                <div class="row">
                  <div class="col">
                    <span class="material-symbols-outlined">grade</span>
                  </div>
                </div>
              </option>
              <option name="two">
                <div class="row">
                  <div class="col">
                    <span class="material-symbols-outlined">grade</span>
                  </div>
                  <div class="col">
                    <span class="material-symbols-outlined">grade</span>
                  </div>
                </div>
              </option>
              <option name="three">
                <div class="row">
                  <div class="col">
                    <span class="material-symbols-outlined">grade</span>
                  </div>
                  <div class="col">
                    <span class="material-symbols-outlined">grade</span>
                  </div>
                  <div class="col">
                    <span class="material-symbols-outlined">grade</span>
                  </div>
                </div>
              </option>
              <option name="four">
                <div class="row">
                  <div class="col">
                    <span class="material-symbols-outlined">grade</span>
                  </div>
                  <div class="col">
                    <span class="material-symbols-outlined">grade</span>
                  </div>
                  <div class="col">
                    <span class="material-symbols-outlined">grade</span>
                  </div>
                  <div class="col">
                    <span class="material-symbols-outlined">grade</span>
                  </div>
                </div>
              </option>
              <option name="five">
                <div class="row">
                  <div class="col">
                    <span class="material-symbols-outlined">grade</span>
                  </div>
                  <div class="col">
                    <span class="material-symbols-outlined">grade</span>
                  </div>
                  <div class="col">
                    <span class="material-symbols-outlined">grade</span>
                  </div>
                  <div class="col">
                    <span class="material-symbols-outlined">grade</span>
                  </div>
                  <div class="col">
                    <span class="material-symbols-outlined">grade</span>
                  </div>
                </div>
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-1 align-self-center">
        <button id="SearchFormButton" class="px-3 py-2">Suchen</button>
      </div>
    </div>
  </form>
</div>
<div id="RecommendedOffers" class="container p-3">
  <div class="row">
    <div class="col-1">
      <button class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="material-symbols-outlined">arrow_back_ios</span>
        <span class="sr-only">Previous</span>
      </button>
    </div>
    <div class="col">
      <div id="carouselExampleControls" class="carousel slide container" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active container">
            <div class="row">
              <div class="col ">
                <div class="card justify-content-center" style="width: 18rem;">
                  <img class="card-img-top" src="..." alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Suche Fahrt von X nach Y</h5>
                    <p class="card-text">Ich biete eine einfache Fahrt von Hamburg nach Berlin am 22.12.2023 an. Ich werde am Berliner HBF starten und die Fahrt am Hamburger HBF beenden.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="..." alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Suche Fahrt von X nach Y</h5>
                    <p class="card-text">Ich biete eine einfache Fahrt von Hamburg nach Berlin am 22.12.2023 an. Ich werde am Berliner HBF starten und die Fahrt am Hamburger HBF beenden.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="..." alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Suche Fahrt von X nach Y</h5>
                    <p class="card-text">Ich biete eine einfache Fahrt von Hamburg nach Berlin am 22.12.2023 an. Ich werde am Berliner HBF starten und die Fahrt am Hamburger HBF beenden.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1">
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
