<app-searchbar></app-searchbar>
<div class="row d-flex justify-content-center align-items-center mb-5">
    <button class="buttonPrimary" routerLink="createOffer">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
      </svg>
      Angebot erstellen
    </button>
    <div class="col-md-2"></div>
    <button class="buttonPrimary" routerLink="addWanted">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="white" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
      </svg>
      Gesuch erstellen 
    </button>
</div>
<div id="RecomendedOffers" class="row">
  <div class="col-md-auto">
    <br>
    <br>
    <br>
    <br>
    <br>
    <button class="btn ms-5 align-middle" type="button" (click)="previous()">
      <div class="btn-text">
        <
      </div>
    </button>
  </div>
  <div class="col">
    <div class="row m-0 justify-content-center active-recomended" *ngIf="loaded">
      <div class="card m-3" style="width: 20rem;" [routerLink]="['/ad', content[(((index +2) % 6) + 6) % 6].adId]">
        <img *ngIf="this.content[index + 2].type === 'offer'" src="../../assets/image.png" class="card-img-top p-3" alt="...">
        <img *ngIf="this.content[index + 2].type === 'wanted'" src="../../assets/OIG2.jpeg" class="card-img-top p-3" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{writeTitle(content[(((index +2) % 6) + 6) % 6])}}</h5>
          <p class="card-text">{{content[(((index + 2) % 6) + 6) % 6].description}}</p>
        </div>
      </div>

      <div class="card m-3" style="width: 20rem;" [routerLink]="['/ad', content[(((index +1) % 6) + 6) % 6].adId]">
        <img *ngIf="this.content[index + 1].type === 'offer'" src="../../assets/image.png" class="card-img-top p-3" alt="...">
        <img *ngIf="this.content[index + 1].type === 'wanted'" src="../../assets/OIG2.jpeg" class="card-img-top p-3" alt="...">
          <div class="card-body">
          <h5 class="card-title">{{writeTitle(content[(((index + 1) % 6) + 6) % 6])}}</h5>
          <p class="card-text">{{content[(((index + 1) % 6) + 6) % 6].description}}</p>
        </div>
      </div>
      <div class="card m-3" style="width: 20rem;" [routerLink]="['/ad', content[(((index) % 6) + 6) % 6].adId]">
        <img *ngIf="this.content[index].type === 'offer'" src="../../assets/image.png" class="card-img-top p-3" alt="...">
        <img *ngIf="this.content[index].type === 'wanted'" src="../../assets/OIG2.jpeg" class="card-img-top p-3" alt="...">
          <div class="card-body">
          <h5 class="card-title">{{writeTitle(content[(((index) % 6) + 6) % 6])}}</h5>
          <p class="card-text">{{content[(((index) % 6) + 6) % 6].description}}</p>
        </div>
      </div>
    </div>
    <div class="row m-0 justify-content-center active-recomended" *ngIf="!loaded">
      <div class="card m-3" style="width: 20rem;" aria-hidden="true">
        <img src="https://placehold.jp/380x210.png" class="card-img-top p-3" alt="...">
        <div class="card-body">
          <h5 class="card-title placeholder-glow">
            <span class="placeholder col-6"></span>
          </h5>
          <p class="card-text placeholder-glow">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
          </p>
        </div>
      </div>
      <div class="card m-3" style="width: 20rem;" aria-hidden="true">
        <img src="https://placehold.jp/380x210.png" class="card-img-top p-3" alt="...">
        <div class="card-body">
          <h5 class="card-title placeholder-glow">
            <span class="placeholder col-6"></span>
          </h5>
          <p class="card-text placeholder-glow">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
          </p>
        </div>
      </div>
      <div class="card m-3" style="width: 20rem;" aria-hidden="true">
        <img src="https://placehold.jp/380x210.png" class="card-img-top p-3" alt="...">
        <div class="card-body">
          <h5 class="card-title placeholder-glow">
            <span class="placeholder col-6"></span>
          </h5>
          <p class="card-text placeholder-glow">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
          </p>
        </div>
      </div>

    </div>

  </div>
  <div class="col-md-auto">
    <br>
    <br>
    <br>
    <br>
    <br>
    <button class="btn me-5" type="button" (click)="next()">
      <div class="btn-text">
        >
      </div>
    </button>
  </div>
</div>