.card-title {
    text-align: center;
}
.card-body {
    text-align: center;
}
.card {
    border-width: 1px;
    border-color: var(--primary);
}
.custom-border {
    border-bottom: 1px solid var(--primary);
}
.big {
    font-size: xx-large;
}
.center {
    text-align: center;
}

.rating {
    font-size: xx-large;
}
  
.highlight {
    color: rgb(255, 217, 0);
}

.ht3 {
    height: 180px;
}

.ht1 {
    height: 130px;
}

.ht2 {
    height: 110px;
}

.card-title {
    font-size: large;
}

.custom-progress {
    background-color: var(--primary);
}

.progress {
    background-color: #e1e9be;
    height: 40px;
}

.submitButton {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: var(--primary);
    color: white;
    font-size: large;
}
  
.submitButton:hover {
    background-color: var(--secondary);
}
  


.modal-content{
    border-color: var(--secondary);
    border-width: 2px;
}
.modal{
    background-color: rgba(255, 255, 255, 0.5);
}

.returnButton{
    text-align: left;
}

.backButton {
    width: 80%;
    background-color: var(--secondary);
    color: white;
}

.uploadButton {
    width: 80%;
    background-color: #e1e9be;
    outline: 1px var(--primary) solid;
}

.upload {
    font-size: large;
}



  