<div>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <div>
          <input id="email" class="form-control email-input" type="text" name="email" required placeholder="Email" ngModel>*
      </div>
      <div>
          <input id="password" class="form-control password-input" type="password" name="password" required placeholder="Password" ngModel>*
      </div>
      <div>
        <input id="submitButton" class="submitButton" type="submit" value="Login" [disabled]="!loginForm.valid">
    </div>
  </form>

  </div>
  <div *ngIf="loginFailure">
    <div class="alert alert-danger alert-dismissible" role="alert">
      <div>The given password and username doesn't match.</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
