<p>login works!</p>
<div>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <div>
          <input id="email" class="form-control email-input" type="text" name="email" required placeholder="Email" ngModel>*
      </div>
      <div>
          <input id="password" class="form-control password-input" type="password" name="passwords" required placeholder="Password" ngModel>*
      </div>
      <div>
        <input id="submitButton" class="submitButton" type="submit" value="Login" [disabled]="!loginForm.valid">
    </div>
  </form>

  </div>
